<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <description>
        </description>
        <display-name>CodeFilter</display-name>
        <filter-name>CodeFilter</filter-name>
        <filter-class>com.libin.filter.CodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>
        </description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.libin.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LookMessServlet</display-name>
        <servlet-name>LookMessServlet</servlet-name>
        <servlet-class>com.libin.servlet.LookMessServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AlterStuMessServlet</display-name>
        <servlet-name>AlterStuMessServlet</servlet-name>
        <servlet-class>com.libin.servlet.AlterStuMessServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetScoreServlet</display-name>
        <servlet-name>GetScoreServlet</servlet-name>
        <servlet-class>com.libin.servlet.GetScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LookStuClassTabServlet</display-name>
        <servlet-name>LookStuClassTabServlet</servlet-name>
        <servlet-class>com.libin.servlet.LookStuClassTabServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AlterTeaMessServlet</display-name>
        <servlet-name>AlterTeaMessServlet</servlet-name>
        <servlet-class>com.libin.servlet.AlterTeaMessServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddScoreServlet</display-name>
        <servlet-name>AddScoreServlet</servlet-name>
        <servlet-class>com.libin.servlet.AddScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>UpdateScoreServlet</display-name>
        <servlet-name>UpdateScoreServlet</servlet-name>
        <servlet-class>com.libin.servlet.UpdateScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DeleteScoreServlet</display-name>
        <servlet-name>DeleteScoreServlet</servlet-name>
        <servlet-class>com.libin.servlet.DeleteScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddStuServlet</display-name>
        <servlet-name>AddStuServlet</servlet-name>
        <servlet-class>com.libin.servlet.AddStuServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddTeaServlet</display-name>
        <servlet-name>AddTeaServlet</servlet-name>
        <servlet-class>com.libin.servlet.AddTeaServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DelStuServlet</display-name>
        <servlet-name>DelStuServlet</servlet-name>
        <servlet-class>com.libin.servlet.DelStuServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DelTeaServlet</display-name>
        <servlet-name>DelTeaServlet</servlet-name>
        <servlet-class>com.libin.servlet.DelTeaServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddClassServlet</display-name>
        <servlet-name>AddClassServlet</servlet-name>
        <servlet-class>com.libin.servlet.AddClassServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddClassTabServlet</display-name>
        <servlet-name>AddClassTabServlet</servlet-name>
        <servlet-class>com.libin.servlet.AddClassTabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookMessServlet</servlet-name>
        <url-pattern>/LookMessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterStuMessServlet</servlet-name>
        <url-pattern>/AlterStuMessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScoreServlet</servlet-name>
        <url-pattern>/GetScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookStuClassTabServlet</servlet-name>
        <url-pattern>/LookStuClassTabServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterTeaMessServlet</servlet-name>
        <url-pattern>/AlterTeaMessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScoreServlet</servlet-name>
        <url-pattern>/AddScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateScoreServlet</servlet-name>
        <url-pattern>/UpdateScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScoreServlet</servlet-name>
        <url-pattern>/DeleteScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStuServlet</servlet-name>
        <url-pattern>/AddStuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeaServlet</servlet-name>
        <url-pattern>/AddTeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelStuServlet</servlet-name>
        <url-pattern>/DelStuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelTeaServlet</servlet-name>
        <url-pattern>/DelTeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassServlet</servlet-name>
        <url-pattern>/AddClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassTabServlet</servlet-name>
        <url-pattern>/AddClassTabServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>